
/* --------------------------------------------------------------------
	common　ヘッドライン
-------------------------------------------------------------------- */
h1.optimaizedH1{
	font-size: 8px;
}
h2.goods_name_ {
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
h2.category_name_ {
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
h2.category_name_img_ {
	margin: 10px 0;
	text-align: center;
}
h2.genre_name_ {
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
h2.genre_name_img_ {
	margin: 10px 0;
	text-align: center;
}
h2.event_name_ {
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
h2.event_name_img_ {
	margin: 10px 0;
	text-align: center;
}
.top_comment_ {
	margin: 0 10px 10px;
}
.top_comment_ p {
	font-size:12px;
}

/* --------------------------------------------------------------------
	common　ナビゲーション
-------------------------------------------------------------------- */
/* パンくず */
.navitopicpath_ {
	padding: 4px 5px 6px 5px;
	font-size:11px;
	background:#eeeeee;
	overflow:hidden;
}
.navitopicpath_ a {
	margin: 0 0.5em;
	font-size:11px;
	white-space: nowrap;
}
.navitopicpath_ a span,
.navitopicpath_ a span strong {
	font-size:11px;
}
.navitopicpath_ span.current_ {
	margin: 0 0.5em;
	font-size:11px;
	white-space: nowrap;
}
.navitopicpath_ div.block {
	float:left;
}
.navitopicpath_ div {
	float:right;
}
#bread-crumb-list {
	width: 100%;
	float: left;
	overflow:hidden;
}
#bread-crumb-list li {
	font-size:11px;
	display: inline;
}

/* ページジャンプ */
.navipage_ {
	margin: 0 10px;
	text-align:center;
}
.navipage_.top_ {		/* ページジャンプ上部 */
	margin-bottom: 10px;
}
.navipage_.bottom_ {	/* ページジャンプ下部 */
	margin-top: 10px;
}
.navipage_ .navipage_sum_ {
}
.navipage_ nav a,
.navipage_ nav span {
	white-space: nowrap;
	min-width: 24px;
	margin: 0 1px;
	text-align:center;
	font-size: 12px
}
.navipage_ a {
	white-space: nowrap;
	padding: 4px 1px;
	display: inline-block;
	border:#E5E5E5 1px solid;
	background-color: #FFFFFF;
	text-decoration:none;
}
.navipage_now_ {
	padding: 4px 1px;
	display: inline-block;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:#3FBF0D;
	border:#3FBF0D 1px solid;
}
.navipage_ .navipage_reverse_ {
}
.navipage_ .navipage_forward_ {
}
/* 並び替え */
.navisort_ {
	margin: 2px 0;
	overflow: hidden;
	border-bottom: 2px solid #FFCCCC;
}
.navisort_ dt {
	float: left;
	text-align: right;
	font-weight: bold;
	width: 8em;
}
.navisort_ dd {
	margin-left: 8em;
}
.navisort_now_ {
	color:#CC0000;
	text-decoration:none;
	margin:2px 5px;
	white-space: nowrap;
}
.navisort_ a {
	margin:2px 5px;
	white-space: nowrap;
}
/* 表示切替 */
.navistyle_ {
	margin: 0 10px 10px;
	overflow: hidden;
	border: 1px solid #CCC;
	background: #F0F0F0;
}
.navistyle_ dt {
	padding: 2px 2px 2px 6px;
}
.navistyle_ dd {
	padding: 0 0 0 7px;
	font-size: 12px;
	background: #FFF;
}
.navistyle_now_ {
	color:#CC0000;
	text-decoration:none;
	padding: 5px;
	display: inline-block;
	white-space: nowrap;
}
.navistyle_ a {
	padding: 5px;
	display: inline-block;
	white-space: nowrap;
}
/* 商品分類絞込 */
#goods_class_filter_ {
	padding-bottom: 3px;
}
#goods_class_filter_ dd {
}
#goods_class_filter_ .class_filter_ {
	margin-right: 10px;
}
#goods_class_filter_ .class_filter_ .selected_ {
	background-color: #ffeeff;
}

/* --------------------------------------------------------------------
	Ajax　Zip
-------------------------------------------------------------------- */
#suggestZipArea {
	background-color: #ffffff;
	border: 1px solid #999999;
	display: none;
	padding: 2px 0;
	position: absolute;
	z-index: 9999;
}
#suggestZipArea .itemNotFound {
	padding: 0 4px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-style: italic;
}
#suggestZipArea .itemLine {
	padding: 0 4px;
	height: 20px;
	line-height: 20px;
	list-style:none;
	white-space:nowrap;
	color: #000000;
}
#suggestZipArea .selected {
	background-color: #ffdddd;
	color: #c00000;
}
#suggestZipArea .itemLine .itemCode {
	float: left;
	font-weight: bold;
	margin-right: 4px;
}
#suggestZipArea .itemLine .itemName {
}


/* --------------------------------------------------------------------
	トピックス
-------------------------------------------------------------------- */
/* トピック詳細 */
.topiclist_body_ {
}
.topiclist_body_ .topic_title_ {
	margin-bottom: 10px;
	padding: 10px 10px;
	clear: both;
	text-shadow: 0 -1px 1px #999;
	font-size: 16px;
	font-weight: bold;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #DFDFDF -moz-linear-gradient(top, #FFF, #DFDFDF);
	background: #DFDFDF -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DFDFDF));
	background: #DFDFDF linear-gradient(top, #FFF, #DFDFDF);
}
.topiclist_body_ figure {
	padding: 0 10px 10px;
}
.topiclist_body_ article {
	padding: 0 10px 10px;
}
/* トピック一覧 */
#block_of_topic {
	margin-bottom:20px;
}
div.topiclist_ {
	margin:10px;
	border:#e5e5e5 1px solid;
	background:#FFFFFF;
}
div.topiclist_ .topiclist_head_ {
	padding: 10px;
	margin: 0 10px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px dotted #CCCCCC;
}
div.topiclist_ .topiclist_body_ {
	padding:0 10px;
	background: #FFF;
}
div.topiclist_ .topiclist_body_ li {
	padding:3px 0;
	border-bottom: 1px dotted #CCCCCC;
}
div.topiclist_ .topiclist_body_ li:last-child {
	border-bottom: none;
}
div.topiclist_ .topiclist_body_ li a,
div.topiclist_ .topiclist_body_ li span.nolink_ {
	padding: 5px;
	display: block;
}
div.topiclist_ .topiclist_body_ li a {
	padding-right: 20px;
	background: url(../img/usr/sb/common/link_goods.png) right center no-repeat;
	-webkit-background-size:9px 20px;
	background-size:9px 20px;
}
/* トピック詳細一覧 */
div.topicdetaillist_ {
	margin: 0 10px 10px;
	border: 1px solid #E0E0E0;
}
div.topicdetaillist_ .topicdetaillist_body_ {
	margin: 0 5px 5px;
	padding: 0 10px;
}
div.topicdetaillist_ .topicdetaillist_body_ li {
	border-bottom: 1px dotted #CCC;
}
div.topicdetaillist_ .topicdetaillist_body_ li:last-child {
	border-bottom: none;
}
div.topicdetaillist_ .topicdetaillist_body_ li a,
div.topicdetaillist_ .topicdetaillist_body_ li span.nolink_ {
	padding: 5px;
	display: block;
}
div.topicdetaillist_ .topicdetaillist_body_ li a {
	padding-right: 20px;
	background: url(../img/usr/link_goods.png) right center no-repeat;
}

/* --------------------------------------------------------------------
	商品詳細
--------------------------------------------------------------------- */
div.goods_ {
	clear: both;
}
div.goodsproductdetail_ {
	margin-bottom: 10px;
	width:100%;
}
div.goodsdetail1_ h2 {
	padding:5px 10px;
	background:#e5e5e5;
}
div.goodsdetail1_ div.inner_ {
	padding:10px 10px;
}
div.goodsdetail2_ h2 {
	padding:5px 10px;
	background:#e5e5e5;
}
div.goodsdetail2_ div.inner_ {
	padding:10px 10px;
}
div.goodsdetail3_ h2 {
	padding:5px 10px;
	background:#e5e5e5;
}
div.goodsdetail3_ div.inner_ {
	padding:10px 10px;
}
div.goodsdetail4_ h2 {
	padding:5px 10px;
	background:#e5e5e5;
}
div.goodsdetail4_ div.inner_ {
	padding:10px 10px;
}
div.goodsdetail5_ h2 {
	padding:5px 10px;
	background:#e5e5e5;
}
div.goodsdetail5_ div.inner_ {
	padding:10px 10px;
}
table.goodsproductdetail_ {
	width: 100%;
}
table.goodsproductdetail_ td {
	vertical-align: top;
}
td.goodscomment_ {
	background-color: #ffffff;
	width: 592px;
}

/* 商品画像 */
div.goodsimg_ {
}
div.goodsimg_ .img_L_ {
	margin-bottom: 10px;
	text-align:center;
}
div.goodsimg_ .img_L_ img {
}
div.goodsimg_ .img_L_ .comment_ {
	text-align:left;
	margin-top: 5px;
}
div.goodsimg_ .img_c_{
	margin-bottom: 10px;
	text-align: center;
}
div.goodsimg_ .img_c_ img {
	max-width: 200px;
}
div.goodsimg_ .img_c_ .comment_ {
	margin-top: 5px;
}

/* 商品画像バリエーション */
div.etc_goodsimg_ {
	margin:0 3px 5px 10px;
}
div.etc_goodsimg_line_ {
	overflow:hidden;
}
div.etc_goodsimg_item_ {
	width:18%;
	margin:0 2% 0 0;
	float:left;
	text-align: center;
}
div.etc_goodsimg_item_ img {
}

/* 商品スペック */
div.goodsspec_ {
	margin-bottom:10px;
}
dl.goodsspec_ {
	margin:0 10px;
	margin-bottom:10px;
}
dl.goodsspec_ dt,
dl.goodsspec_ dd {
	display: block;
}
dl.goodsspec_ dt {
	padding:2px 2px 2px 6px;
	background-color: #F0F0F0;
}
dl.goodsspec_ dd {
	font-size: 14px;
	padding:2px 2px 2px 12px;
}
dl.goodsspec_ dd .price_box_ small {
	display: block;
}
.to_detaillink_ {
	margin: 0 10px 0 0;
	text-align: right;	
}
.to_detaillink_ a {
	padding-left: 20px;
	display: inline-block;
	background: url(../img/usr/blank.png) left center no-repeat;
}
div.goodsproductdetail_ div.icon_ {
	margin:0 10px;
}
div.goodsproductdetail_ div.icon_ img {
	width:40px;
	height:13px;
	vertical-align:top;
}
#spec_code {
	font-size:12px;
	font-weight:bold;
	margin:0 10px;
}
#spec_price {
	text-align:right;
}
#spec_price p.special_price_ {
	margin:0 10px;
	display:block;
	font-size:20px;
	font-weight:bold;
	color:#ff0000;
}
#spec_price p.normal_price_ {
	margin:0 10px;
	display:block;
	text-align:right;
	font-size:12px;
}

/* 入荷案内申込関係 */
div.backorder_variation_unit_ {
	margin: 0 10px 20px;
	padding: 10px;
	vertical-align:middle;
	background: #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* カートボタン関係 */
div.cartbox_ {
	margin: 0 10px 20px;
	vertical-align:middle;
}
div.cartbox_ .variationlist_ h2.ttl_color_,
div.cartbox_ .variationlist_ h2.ttl_size_ {
	padding:6px 0;
	margin-bottom:10px;
	border-bottom:#3fbf0d 1px dotted;
	text-align:left;
}
div.cartbox_ .variationlist_ h2.ttl_color_ img,
div.cartbox_ .variationlist_ h2.ttl_size_ img {
	height:13px;
}
div.cartbox_ input.main_action_button_#cart_in {
	width:80%;
	padding:0;
}
div.cartbox_ input#cart_bookmark {
	width:15%;
	padding:0;
	margin:0 0 0 2%;
	background:#ff4877;
	border-bottom:#dd315e 2px solid;
}

/* バリエーションプルダウン */
div.cartbox_ .variation_pulldown_ {
	margin-bottom: 10px;
}

/* バリエーションボックス */
div.cartbox_ p.guide_ {
	background: #FFF;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.cartbox_ p.message_ {
	padding-left: 5px;
}
div.cartbox_ div.colors_ {
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}
div.cartbox_ div.colors_ div.color_ {
	width: 46px;
	height: 46px;
	margin: 2px 2px 5px 2px;
	display: inline-block;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.cartbox_ div.colors_ div.color2_ {
	width: 46px;
	height: 46px;
	margin: 2px 2px 5px 2px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	background-position: center;
}
div.cartbox_ div.colors_ div.color_EnableStock_ {
	border:solid 2px #d0d0d0;
	background-color:#FFF;
	cursor:pointer;
}
div.cartbox_ div.colors_ div.color_DisableStock_ {
	border:dashed 2px #d0d0d0;
	background-color:#909090;
	cursor:pointer;
}
div.cartbox_ div.colors_ div.color_Selected_ {
	border:solid 2px #3fbf0d;
/*	background-color:#ffffff; */
}
div.cartbox_ div.colors_ div.color_DisableSelected_ {
	border:dashed 2px #3fbf0d;
	background-color:#909090;
	color:#3fbf0d;
}
div.cartbox_ div.colors_ div.color_Thumbnail_ {
	background-repeat: no-repeat;
	background-position: center;
}
div.cartbox_ div.colors_ br,div.cartbox_ div.sizes_ br,div.cartbox_ div.sizes_ p.message_ {
	clear:left;
}
div.cartbox_ div.sizes_ {
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}
div.cartbox_ div.sizes_ div.size_ {
	width: 46px;
	height: 46px;
	float:left;
	display: inline-block;
	padding:1px 5px;
	margin:2px 2px 5px 2px;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: table;
	table-layout: fixed;
}
div.cartbox_ div.sizes_ div.size_ div{
	word-break: break-all;
	display: table-cell;
	vertical-align: middle;
}
div.cartbox_ div.sizes_ div.size_ p {
	clear:both;
}
div.cartbox_ div.sizes_ div.size_EnableStock_ {
	border:solid 2px #d0d0d0;
	
	background-color:#FFF;
	cursor:pointer;
}
div.cartbox_ div.sizes_ div.size_DisableStock_ {
	border:dashed 2px #d0d0d0;
	background-color:#909090;
	cursor:pointer;
}
div.cartbox_ div.sizes_ div.size_Selected_ {
	border:solid 2px #3fbf0d;
/*	background-color:#ffffff; */
}
div.cartbox_ div.sizes_ div.size_DisableSelected_ {
	border:dashed 2px #3fbf0d;
	background-color:#909090;
/*	color:#ffc0c0; */
}
.goodsproductdetail_ .goodsimg_ div.mask_ {
	position:absolute;
	z-index:10;
	color:#ff4a4a;
	font-weight:bold;
}
/**/

/**/
/* セット内容一覧 */
div.goods_set_list_ {
	margin: 0 5px;
}
table.goods_set_ {
	margin: 0 0 5px;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-bottom: none;
}
table.goods_set_ td {
	padding: 1px 5px;
	border-bottom: 1px solid #CCCCCC;
}
table.goods_set_ th {
	background-color: #F8F8F8;
	vertical-align: middle;
	width: 25%;
	font-weight: normal;
	text-align: left;
	padding: 1px 5px;
	border-bottom: 1px solid #CCCCCC;
	white-space: nowrap;
}
/**/

/**/
/* 店舗在庫 */
div.storestock_ {
	margin-bottom:10px;
}
dl.storestock_ {
	margin:0 10px;
	border:1px solid #CCC;
	margin-bottom:10px;
}
dl.storestock_ dt,
dl.goodsspec_ dd {
	display: block;
}
dl.storestock_ dt {
	padding:5px 5px 5px 6px;
	background-color: #F0F0F0;
}
dl.storestock_ dd {
	font-size: 14px;
	padding:5px 5px 5px 12px;
}
span.storestock_div_ {
	font-weight: bold;
	margin-left: 10px;
}
span.storestock_item_ {
	font-size: 16px;
	padding-right: 12px;
}
div.storestock_alert_ {
	margin: 0 10px 10px;	
}
/**/

div.goodscomment1_ {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.goodscomment2_ {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.goodscomment3_ {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.goodscomment4_ {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.goodscomment5_ {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.rulescomment_ {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.goods_ div.accessory_list_ {
	margin:10px 0px;
}
.option_buttons_ {
	margin: 0 10px 10px;
}
.option_buttons_ li {
}
.option_buttons_ li.social_ {
/*	text-align: center;*/
}
.option_buttons_ li.social_ div.socialbutton_ {
	margin-bottom:15px;
}

/* --------------------------------------------------------------------
	商品一覧
-------------------------------------------------------------------- */
div.goods_ {
	margin-bottom:10px;
	padding-bottom:10px;
}
div.icon_ span img {
	vertical-align: top;
}
ul.goods_p_ {
	border-top:#e5e5e5 1px solid;
}
ul.goods_p_ li {
	border-bottom:#e5e5e5 1px solid;
}
ul.goods_p_ li:first-child {
}
ul.goods_p_ li a {
	padding: 10px 10px 10px 10px;
	display: block;
	text-decoration: none;
}
ul.goods_p_ li div.cart_btn_ a {
	padding: 0;
	display: inline;
	background: none;
}
ul.goods_p_ li div.nolink_ {
	padding: 10px 0;
	display: block;
	text-decoration: none;
}
ul.goods_p_ li figure.img_,
ul.goods_p_ li div.desc_ {
	display: table-cell;
	vertical-align: top;
}
ul.goods_p_ li figure.img_ {
	width: 145px;
}
ul.goods_p_ li figure.img_ img {
	width: 145px;
	display: block;
}
ul.goods_p_ li div.desc_ {
	padding-left: 10px;
}
ul.goods_p_ li div.desc_ div.icon_ span.icon1_ img,
ul.goods_p_ li div.desc_ div.icon_ span.icon2_ img {
	width:40px;
}
ul.goods_p_ li a div.name_ {
	text-decoration:underline;
}
ul.goods_p_ li div.desc_ div.name_ {
}
ul.goods_p_ li div.desc_ div.name_ .name1_ {
	font-weight: bold;
}
ul.goods_p_ li a div.desc_ div.name_ .name1_ {
	color: #00377F;
}
ul.goods_p_ li div.desc_ div.name_ .name2_ {
	font-size: 12px;
}
ul.goods_p_ li div.desc_ .price_box_ small {
	display: block;
}
.liquidize_goods_item_ {
  padding:0 3px; 
  margin:10px 0 0 0;
  width:100px;
  float:left;
  text-align:center;
}
.liquidize_goods_item_ img{
  width:100px;
}
#goods_list_load_button {
	width: 100%; 
	text-align:center;
	background-color: #6396E2;
}
#goods_list_load_button span {
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
}
#goods_list_loading_button {
	display: none;
	width: 100%;
	text-align:center;
}


/* --------------------------------------------------------------------
	商品一覧 ランキング
-------------------------------------------------------------------- */
ul.goods_r_ {
	padding:0 5px;
	border-top: 1px solid #CCC;
}
ul.goods_r_ li {
	width:48%;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
}
ul.goods_r_ li:nth-child(2n) {
	width:48%;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
}
ul.goods_r_ li a {
	padding:10px 5px;
	text-decoration:none;
	display: block;
}
ul.goods_r_ li div.nolink_ {
	padding: 10px 0;
	display: block;
}
ul.goods_r_ li .rank_icon_{
	overflow: hidden;
	text-indent: -300%;
	white-space: nowrap;
}
ul.goods_r_ li.rank1_ .rank_icon_{
	background: url(../img/icon/rank1.png) 110px top no-repeat;
	-webkit-background-size: 22px 20px;
	     -o-background-size: 22px 20px;
	        background-size: 22px 20px;
}
ul.goods_r_ li.rank2_ .rank_icon_{
	background: url(../img/icon/rank2.png) 110px top no-repeat;
	-webkit-background-size: 22px 20px;
	     -o-background-size: 22px 20px;
	        background-size: 22px 20px;
}
ul.goods_r_ li.rank3_ .rank_icon_{
	background: url(../img/icon/rank3.png) 110px top no-repeat;
	-webkit-background-size: 22px 20px;
	     -o-background-size: 22px 20px;
	        background-size: 22px 20px;
}
ul.goods_r_ li.rank4_ .rank_icon_{
	background: url(../img/icon/rank4.png) 110px top no-repeat;
	-webkit-background-size: 22px 20px;
	     -o-background-size: 22px 20px;
	        background-size: 22px 20px;
}
ul.goods_r_ li.rank5_ .rank_icon_{
	background: url(../img/icon/rank5.png) 110px top no-repeat;
	-webkit-background-size: 22px 20px;
	     -o-background-size: 22px 20px;
	        background-size: 22px 20px;
}
ul.goods_r_ li figure.img_,
ul.goods_r_ li div.desc_ {
}
ul.goods_r_ li figure.img_ {
	width: 100%;
	padding-bottom: 10px;
}
ul.goods_r_ li figure.img_ img {
	width: 100%;
}
ul.goods_r_ li div.desc_ {
}
ul.goods_r_ li div.desc_ div.icon_ {
}
ul.goods_r_ li div.desc_ div.icon_ span.icon1_ img,
ul.goods_r_ li div.desc_ div.icon_ span.icon2_ img {
	width:40px;
	height:13px;
	vertical-align:top;
}
ul.goods_r_ li a div.desc_ div.name_ {
	margin:0 0 10px;
	text-decoration:underline;
}
ul.goods_r_ li div.desc_ div.name_ .name1_ {
	font-weight: bold;
}
ul.goods_r_ li a div.desc_ div.name_ .name1_ {
	color: #00377F;
}
ul.goods_r_ li div.desc_ div.name_ .name2_ {
	font-size: 12px;
}
ul.goods_r_ li div.desc_ .price_box_ small {
	display: block;
}
ul.goods_r_ li a div.desc_ div.price_box p.price_ {
	text-decoration:none;
}

/* --------------------------------------------------------------------
	商品一覧 ランキング
-------------------------------------------------------------------- */
ul.goods_h_ {
	padding:10px 5px;
	border-top: 1px solid #CCC;
	overflow:hidden;
}
ul.goods_h_ li {
	width:25%;
	text-align:center;
	float:left;
	padding-bottom:10px;
}
ul.goods_h_ li figure.img_ {
	margin:0 5px;
	border:1px solid #CCC;
}
ul.goods_h_ li p {
	margin:5px 5px 0 5px;
	text-align:left;
	font-size:10px;
}

/* --------------------------------------------------------------------
	商品検索
--------------------------------------------------------------------- */
dl.goodssearch_ {
	margin:0 10px;
	border:1px solid #CCC;
	margin-bottom:10px;
}
dl.goodssearch_ dt
, dl.goodssearch_ dd {
	display: block;
	white-space: nowrap;
}
dl.goodssearch_ dt {
	padding:2px 2px 2px 6px;
	background-color: #F0F0F0;
}
dl.goodssearch_ dd {
	padding:5px;
}
dl.goodssearch_ dd.goodssearch_price_ input {
	width: 9.0em;
}
dl.goodssearch_ dd.goodssearch_last_sdt_ input {
	width: 4.5em;
}
/**/

/* --------------------------------------------------------------------
	カテゴリー
-------------------------------------------------------------------- */
/* カテゴリー詳細 */
div.sub_category_ {
	margin-top: 10px;
}
/* カテゴリー一覧 */
nav.CategoryStyleG_ {
	border-top: 1px solid #e5e5e5;
}
nav.CategoryStyleG_ ul.layer0_ {
	padding-left: 0;
	background: #F0F0F0;
}
nav.CategoryStyleG_ ul.layer1_ {
	background: #F0F0F0;
}
nav.CategoryStyleG_ ul.layer2_ {
	background: #F0F0F0;
}
nav.CategoryStyleG_ ul.layer3_ {
	background: #F0F0F0;
}
nav.CategoryStyleG_ ul {
	overflow:hidden;
}
nav.CategoryStyleG_ ul li {
	width:100%;
	border-bottom: 1px solid #e5e5e5;
	word-break:break-all;
}
nav.CategoryStyleG_ ul li.nochild_ {
}
nav.CategoryStyleG_ ul.layer0_ li {
	min-height:40px;
	background-color: #FFF;
	position:relative;
}
nav.CategoryStyleG_ ul.layer1_ li,
nav.CategoryStyleG_ ul.layer2_ li,
nav.CategoryStyleG_ ul.layer3_ li {
	min-height:40px;
	border-top: 1px solid #e5e5e5;
	border-bottom:none;
	background-color: transparent;
}
nav.CategoryStyleG_ ul li a,
nav.CategoryStyleG_ ul li span.nolink_ {
	padding:10px 10px;
	text-decoration: none;
	vertical-align:middle;
	display:block;
}
nav.CategoryStyleG_ ul li a.haveimg_,
nav.CategoryStyleG_ ul li span.haveimg_ {
	padding:0 10px;
	text-decoration: none;
	vertical-align:middle;
	display:block;
}
nav.CategoryStyleG_ ul li a .name_{
	text-decoration: underline;
}
nav.CategoryStyleG_ ul li a .comment_,
nav.CategoryStyleG_ ul li span.nolink_ .comment_ {
	font-size: 12px;
	text-decoration: none;
}
nav.CategoryStyleG_ ul li p.parent_ {
	padding: 0;
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	vertical-align: top;
	overflow: hidden;
	position:absolute;
	top:0;
	right:0;
}
nav.CategoryStyleG_ ul li p.img_ {
	width: 35px;
	height: 35px;
	padding:2px 10px 0 0;
	vertical-align:middle;
	overflow: hidden;
	display:table-cell;
}
nav.CategoryStyleG_ ul li p.img_ img {
	width: 35px;
	height: 35px;
}
nav.CategoryStyleG_ ul li p.name_ {
	vertical-align:middle;
	display:table-cell;
}

nav.CategoryStyleG_ ul li p.parent_ {
	background: url(../img/usr/minus.png) right top no-repeat;
}
nav.CategoryStyleG_ ul li p.parent_.img_hidden_ {
	background: url(../img/usr/plus.png) right top no-repeat;
}
nav.CategoryStyleG_ ul.layer1_ li p.parent_{
}
nav.CategoryStyleG_ ul.layer2_ li p.parent_{
}
nav.CategoryStyleG_ ul.layer3_ li p.parent_{
}
nav.CategoryStyleG_ ul.layer0_ li .name_,
nav.CategoryStyleG_ ul.layer0_ li .comment_ {
	padding-left:0;
}
nav.CategoryStyleG_ ul.layer1_ li .name_,
nav.CategoryStyleG_ ul.layer1_ li .comment_ {
	padding-left: 20px;
}
nav.CategoryStyleG_ ul.layer2_ li .name_,
nav.CategoryStyleG_ ul.layer2_ li .comment_ {
	padding-left: 40px;
}
nav.CategoryStyleG_ ul.layer3_ li .name_,
nav.CategoryStyleG_ ul.layer3_ li.comment_ {
	padding-left: 60px;
}
div.CategoryStyleL_ div.name_ {
	margin: 0;
	padding: 5px 10px;
	border-top: 1px solid #eae5e3;
	border-left: 1px solid #eae5e3;
	border-right: 1px solid #eae5e3;
	background: #ffffff url(../img/usr/sb/menu_arrow2.png)  50% right no-repeat;
}
div.CategoryStyleL_ div.name_ {
	border-bottom: 1px solid #eae5e3;
	margin-bottom: 2px;
}
div.CategoryStyleL_ div.comment_ {
	padding: 2px 2px 4px 10px;
}

/* --------------------------------------------------------------------
	ジャンル
-------------------------------------------------------------------- */
/* ジャンル詳細 */
div.sub_genre_ {
	margin-top: 10px;
}
/* ジャンル一覧 */
nav.GenreStyle_ {
	border-top: 1px solid #e5e5e5;
}
nav.GenreStyle_ ul.layer0_ {
	padding-left: 0;
	background: #F0F0F0;
}
nav.GenreStyle_ ul.layer1_ {
	background: #F0F0F0;
}
nav.GenreStyle_ ul.layer2_ {
	background: #F0F0F0;
}
nav.GenreStyle_ ul.layer3_ {
	background: #F0F0F0;
}
nav.GenreStyle_ ul {
	overflow:hidden;
}
nav.GenreStyle_ ul li {
	width:100%;
	border-bottom: 1px solid #e5e5e5;
	word-break:break-all;
}
nav.GenreStyle_ ul li.nochild_ {
}
nav.GenreStyle_ ul.layer0_ li {
	min-height:40px;
	background-color: #FFF;
	position:relative;
}
nav.GenreStyle_ ul.layer1_ li,
nav.GenreStyle_ ul.layer2_ li,
nav.GenreStyle_ ul.layer3_ li {
	min-height:40px;
	border-top: 1px solid #e5e5e5;
	border-bottom:none;
	background-color: transparent;
}
nav.GenreStyle_ ul li a,
nav.GenreStyle_ ul li span.nolink_ {
	padding:10px 10px;
	text-decoration: none;
	vertical-align:middle;
	display:block;
}
nav.GenreStyle_ ul li a.haveimg_,
nav.GenreStyle_ ul li span.haveimg_ {
	padding:0 10px;
	text-decoration: none;
	vertical-align:middle;
	display:block;
}
nav.GenreStyle_ ul li a .name_{
	text-decoration: underline;
}
nav.GenreStyle_ ul li a .comment_,
nav.GenreStyle_ ul li span.nolink_ .comment_ {
	font-size: 12px;
	text-decoration: none;
}
nav.GenreStyle_ ul li p.parent_ {
	padding: 0;
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	vertical-align: top;
	overflow: hidden;
	position:absolute;
	top:0;
	right:0;
}
nav.GenreStyle_ ul li p.img_ {
	width: 35px;
	height: 35px;
	padding:2px 10px 0 0;
	vertical-align:middle;
	overflow: hidden;
	display:table-cell;
}
nav.GenreStyle_ ul li p.img_ img {
	width: 35px;
	height: 35px;
}
nav.GenreStyle_ ul li p.name_ {
	vertical-align:middle;
	display:table-cell;
}

nav.GenreStyle_ ul li p.parent_ {
	background: url(../img/usr/minus.png) right top no-repeat;
}
nav.GenreStyle_ ul li p.parent_.img_hidden_ {
	background: url(../img/usr/plus.png) right top no-repeat;
}
nav.GenreStyle_ ul.layer1_ li p.parent_{
}
nav.GenreStyle_ ul.layer2_ li p.parent_{
}
nav.GenreStyle_ ul.layer3_ li p.parent_{
}
nav.GenreStyle_ ul.layer0_ li .name_,
nav.GenreStyle_ ul.layer0_ li .comment_ {
	padding-left:0;
}
nav.GenreStyle_ ul.layer1_ li .name_,
nav.GenreStyle_ ul.layer1_ li .comment_ {
	padding-left: 20px;
}
nav.GenreStyle_ ul.layer2_ li .name_,
nav.GenreStyle_ ul.layer2_ li .comment_ {
	padding-left: 40px;
}
nav.GenreStyle_ ul.layer3_ li .name_,
nav.GenreStyle_ ul.layer3_ li.comment_ {
	padding-left: 60px;
}

/* --------------------------------------------------------------------
	絞り込み項目
-------------------------------------------------------------------- */
/* 絞り込み項目一覧 */
nav.FilterStyle_ {
	border-top: 5px solid #6396E2;
	border-bottom: 5px solid #6396E2;
}
nav.FilterStyle_ ul.layer0_ {
	padding-left: 0;
	background: #F0F0F0;
}
nav.FilterStyle_ ul li {
	border-top: 1px solid #CCC;
	width: 100%;
	word-break:break-all;
}
nav.FilterStyle_ ul.layer0_ li {
	background-color: #FFF;
}
nav.FilterStyle_ ul li p.parent_,
nav.FilterStyle_ ul li span {
	vertical-align: top;
	display: table-cell;
}
nav.FilterStyle_ ul li span {
	padding: 10px 10px 10px 0;
	text-decoration: none;
}
nav.FilterStyle_ ul li p.parent_ {
	padding: 0;
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	vertical-align: top;
	overflow: hidden;
}
nav.FilterStyle_ ul li p.parent_ {
	background: url(../img/usr/minus.png) right top no-repeat;
}
nav.FilterStyle_ ul li p.parent_.img_hidden_ {
	background: url(../img/usr/plus.png) right top no-repeat;
}
nav.FilterStyle_ ul.layer0_ li span.nochild_ {
	padding-left: 40px;
}
nav.FilterStyle_ ul.layer_ li.nochild_ .name_ {
	padding-left: 70px;
}
nav.FilterStyle_ ul.layer_ li.nochild_ .name_ label img {
	vertical-align: middle;
}

/* --------------------------------------------------------------------
	イベント
-------------------------------------------------------------------- */
/* イベント一覧 */
div.event_ {
	margin-bottom: 10px;
}
div.event_ h2.event_banner_ {
	margin: 0 10px 10px;
	text-align: center;
}
div.event_ h2.event_title_ {
	margin:10px 0 0 0;
	padding: 6px 10px 4px;
	font-size: 16px;
	font-weight: bold;
	color:#fff;
	background: #3fbf0d;
	clear: both;
}
div.event_ h2.event_title_ a {
	display: block;
	text-decoration: none;
	color:#fff;
}
div.event_ h2.event_title_ span.nolink_ {
	padding: 15px;
	display: block;
}

/* --------------------------------------------------------------------
	履歴
-------------------------------------------------------------------- */
#block_of_history {
	margin-bottom:10px;
}
.ttl_history_ {
	margin:10px 0 0 0;
	padding: 6px 10px 4px;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
	background: #999999;
	clear: both;
}

/* --------------------------------------------------------------------
	カスタマーレビュー一覧
--------------------------------------------------------------------- */
/* レビュー情報 */
h2#ttl_userreview {
	margin-bottom:0;
}
div.review_info_ {
	padding:10px;
	background:#eeeeee;
}
div.review_count_summary_ {
	margin-bottom: 5px;
	padding: 6px;
	background: #FFFFFF;
	border: 1px solid #e5e5e5;
}
div.review_count_summary_ dl dt,
div.review_count_summary_ dl dd {
	display: inline;
}
div.review_count_summary_ dl dd img {
	height:17px;
	position:relative;
	top:-3px;
}
div.review_count_summary_ dl.review_score_ {
}
div.review_count_summary_ dl.review_score_ dt {
	font-weight: bold;
}
div.review_count_summary_ dl.review_count_ {
}
div.review_count_summary_ dl.review_count_ dt {
	font-weight: bold;
}
div.review_count_summary_ dl.review_count_ dd {
	padding-left: 4px;
}
div.review_desc_ {
}
div.review_desc_ .btn_review_ {
	text-align: right;
}
div.review_desc_ .btn_review_ a {
	padding:0 0 0 20px;
	background:url(../img/usr/sb/common/ico_write.png) left center no-repeat;
	-webkit-background-size:14px 14px;
	background-size:14px 14px;
	text-decoration: underline!important;
}
.review_pagenav_ {
	margin: 0 0 10px 0;
	clear: both;
	background: #F0F0F0;
	padding: 5px 10px;
	border-bottom: 1px solid #CCC;
}
/**/
/* レビュー ページ切換 */
div#page_changer_top {
}
div#page_changer_top .pager_ref_ {
	margin: 2px 5px;
	color: #003780;
	text-decoration: underline;
	font-weight: bold;
	white-space: nowrap;
}
div#page_changer_top .pager_now_ {
	margin: 2px 5px;
	color:#CC0000;
	font-weight: bold;
	white-space: nowrap;
}
/**/
/* レビュー記事 */
.review_line_ {
	padding: 10px;
	border-bottom:1px solid #e5e5e5;
}
.review_line_:first-child {
	border-top:1px solid #e5e5e5;
}
.review_line_title_ {
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	word-break:break-all;
}
.review_line_body_ {
	padding: 5px;
}

div.review_line_summary_ {
}

div.review_line_summary_ dl dt
, div.review_line_summary_ dl dd {
	display: inline;
}
div.review_line_summary_ dl.review_line_name_ {
}
div.review_line_summary_ dl.review_line_name_ dt {
	font-weight:normal;
}
div.review_line_summary_ dl.review_line_name_ dd {
	padding-left: 4px;
}
div.review_line_summary_ dl.review_line_score_ img {
	height:17px;
	position:relative;
	top:-3px;
}
div.review_line_summary_ dl.review_line_score_ dt {
	font-weight:normal;
}
.review_line_comment_ {
	padding: 2px;
	word-break:break-all;
}
.review_line_ .moderate_vote_ {
	padding:10px 0 0;
	border-top:#e5e5e5 1px dotted;
	font-size:11px;
}
.review_line_ .mode_lay_ {
	position:absolute;
	display:none;
	z-index:1;
	padding: 0;
	background-color:#ffffff;
	border:solid 1px #ffcc33;
}
.review_line_ .mode_lay_ .mode_select_line_top_ {
	text-align: right;
	padding: 10px;
	background-color:#ffcc33;
}
.review_line_ .mode_lay_ .mode_select_line_ {
	padding: 10px 20px;
	border-top:solid 1px #ffcc33;
}

.review_line_ .moderate_info1_ {
	margin-top: 5px;
}
.review_line_ .moderate_info2_ {
	margin-top: 5px;
}
.review_line_ .moderate_info2_ span {
	text-decoration:underline!important;
}
.review_line_ .moderate_other_ {
	display:none;
}
.review_line_ .moderate_other_ dl dt
, .review_line_ .moderate_other_ dl dd {
	display: inline;
}
.review_line_ .moderate_other_ dl{
	padding-left: 10px;
}
.review_line_ .moderate_other_ dl dd {
	padding-left: 4px;
}


#review_form {
	margin: 0 10px 20px;
}
#review_form a {
	text-decoration:none;
}

/**/
/* --------------------------------------------------------------------
	カスタマーレビュー投稿画面
--------------------------------------------------------------------- */
/* 入力画面 */
div.review_ {
}
div.review_ div.review_header_,
div.review_ div.review_middle_,
div.review_ div.review_footer_,
div.review_ div.review_complete_ {
	margin: 0 10px 10px;
}
dl.review_list_ {
	margin:0 10px;
	border:1px solid #CCC;
	border-bottom: none;
	margin-bottom:10px;
}
dl.review_list_ dt
, dl.review_list_ dd {
	display: block;
	white-space: nowrap;
}
dl.review_list_ dt {
	padding: 5px;
	background-color: #F0F0F0;
}
dl.review_list_ dd {
	padding: 5px 10px;
	border-bottom: 1px solid #CCC;
}
div.review_ input[type=text]
, div.review_ textarea {
	display: block;
}
dl.review_list_ li .count_msg_ {
}

/**/

/* 確認画面 */
div.confirm_layer_frame_ {
	margin-top: 5px;
}
div.review_confirm_ {
	background-color: #ffffff;
	display: none;
}
/**/

/* --------------------------------------------------------------------
	クイックオーダー
-------------------------------------------------------------------- */

div.quickorder_ {
}
div.quickorder_ div.add_order_block_ {
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background: #F0F0F0;
}
div.quickorder_ div.add_order_block_ span {
	display: inline-block;
	padding: 5px 20px;
	cursor: pointer;
	-moz-text-shadow: 0 -1px 1px #CCC;
	-webkit-text-shadow: 0 -1px 1px #CCC;
	text-shadow: 0 -1px 1px #CCC;
	background: #DFDFDF -moz-linear-gradient(top,#FFFFFF,#DFDFDF);
	background: #DFDFDF -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#DFDFDF));
	background: #DFDFDF linear-gradient(top,#FFFFFF,#DFDFDF);
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: #333 0 1px 1px -1px;
	-webkit-box-shadow: #333 0 1px 1px -1px;
	box-shadow: #333 0 1px 1px -1px;
}
div.quickorder_ ul.quickorder_list_ {
	margin-bottom: 10px;
	border-top: 1px solid #CCC;
}
div.quickorder_ ul.quickorder_list_ li {
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
div.quickorder_ ul.quickorder_list_ li div.code_qty_ {
	margin-bottom: 10px;
	padding-right: 45px;
	position: relative;
}
div.quickorder_ ul.quickorder_list_ li div.code_qty_ input[type="text"],
div.quickorder_ ul.quickorder_list_ li div.code_qty_ input[type="number"] {
	padding: 5px 0;
	text-indent: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.quickorder_ ul.quickorder_list_ li div.code_qty_ input.code_ {
	text-align: left;
	width: 96%;
}
div.quickorder_ ul.quickorder_list_ li div.code_qty_ input.qty_ {
	padding-right: 5px;
	position: absolute;
	right: 0;
	text-align: right;
	width: 35px;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ {
	display: table;
	width: 100%;
}


div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ figure {
	padding: 10px;
	display: table-cell;
	vertical-align: top;
	width: 100px;
	background: #F0F0F0;
	display: none;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ figure img {
	max-width: 100px;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ figure figcaption.price_box_ small {
	display: block;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ {
	padding: 0 0 0 10px;
	display: table-cell;
	vertical-align: top;
}

div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ div.name_ {
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ div.name_ .name1_ {
	font-weight: bold;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ div.name_ .name1_ {
	color: #00377F;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ div.name_ .name2_ {
	font-size: 12px;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ dl.stock_ {
	font-size: 12px;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ dl.stock_ dt {
	float: left;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ dl.stock_ dd {
	padding-left: 3em;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ dl.amt_ {
	margin-bottom: 10px;
	font-size: 12px;
	color: #C00;
	font-weight: bold;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ dl.amt_ dt {
	float: left;
}
div.quickorder_ ul.quickorder_list_ li div.quickorder_item_ div.desc_ dl.amt_ dd {
	padding-left: 3em;
}


div.quickorder_ .onProcess_ {
	background-image: url(../img/usr/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
div.quickorder_ .selected {
	color: #00dd00;
	background-color: #FFF;
}
div.quickorder_ span.unit_ {
	margin: 5px;
}
#suggestArea {
	background-color: white;
	border: 1px solid black;
	display: none;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	top: 50px;
	left: 5px;
	color: black;
}
.itemNotFound {
	text-align: center;
	color: #777777;
	padding: 0 5px;
	height: 18px;
	line-height: 18px;
}
.itemLine {
	padding: 0px 5px 0px 5px;
	height: 20px;
	line-height: 20px;
	list-style:none;
	white-space:nowrap;
}
.itemLine .itemCode {
	float: left;
	font-weight: bold;
	margin-right: 5px;
}
.itemLine .itemName {
}
.delButton {
}
.quickorder_qty_bg_ {
	background-color: #e6e6e6;
}
/* --------------------------------------------------------------------
	アンケート
-------------------------------------------------------------------- */

div.questionnaire_ {
}
div.questionnaire_ div.questionnaire_name_ {
	font-weight: bold;
}
div.questionnaire_ h3 {
	font-weight: bold;
}
.questionnaire_input_ textarea {
	width: 95%;
}
div.questionnaire_ div.typeCust input.zip_ {
	width: 140px;
}
/* --------------------------------------------------------------------
	マイページ　クーポン一覧
-------------------------------------------------------------------- */
div.coupon_table_ {
	margin: 0 10px;
}
table.coupon_ {
	width: 100%;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	margin: 0 0 10px;
}
table.coupon_ th
, table.coupon_ td {
	padding: 1px 5px;
	border-bottom: 1px solid #CCCCCC;
	text-align:left;
}
table.coupon_ th {
	background-color: #F8F8F8;
	vertical-align: middle;
	width: 35%;
	font-weight: normal;
}

/* --------------------------------------------------------------------
	マイページ　店舗クーポン一覧
-------------------------------------------------------------------- */
div.coupon_table_ {
	margin: 0 10px;
}
div.coupon_table_ a{
	text-decoration: none;
}
table.storecoupon_ {
	width: 100%;
	border: 1px solid #CCCCCC;
	margin: 0 0 10px;
}
table.storecoupon_ td {
	padding: 1px 5px;
	text-align:left;
	color:#000;
}
table.storecoupon_ td.bonus {
	text-align:right;
	color:#FF0000;
	font-size: 400%;
}
table.storecoupon_ td.bonus2 {
	color:#FF0000;
	font-size: 180%;
}
table.storecoupon_ td.dt {
	text-align:right;
}
/* --------------------------------------------------------------------
	マイページ　カード情報確認
-------------------------------------------------------------------- */
div.cardedit_info_ input.card_num_ {
	width: 150px;
}
/* --------------------------------------------------------------------
	マイページ　アドレス帳の新規登録・変更
-------------------------------------------------------------------- */
dl.custdest_ input.zip_ {
	width: 140px;
}
/* --------------------------------------------------------------------
	関連商品
--------------------------------------------------------------------- */
div.title_block_ {
	padding: 5px 5px 5px 8px;
	margin-top: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
}
div.point_table_ {
	margin: 0 10px;
}
table.point_ {
	width: 100%;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	margin: 0 0 10px;
}
table.point_ th
, table.point_ td {
	padding: 1px 5px;
	border-bottom: 1px solid #CCCCCC;
	text-align:left;
}
table.point_ th {
	background-color: #F8F8F8;
	vertical-align: middle;
	width: 35%;
	font-weight: normal;
}

/* --------------------------------------------------------------------
	利用可能なクーポン一覧
--------------------------------------------------------------------- */
.coupon_area_ .label_ {
	display: inline-block;
}
.coupon_area_ .input_ {
	display: inline-block;
}

a.open_available_coupon {
/*
	color: #fff !important;
	background: none repeat scroll 0 0 #666666 !important;
	text-decoration: none !important;
	white-space: nowrap !important;
*/
}

#available_coupon {
	padding-bottom: 20px;
	margin: 0 auto;
	background: #fff;
}
table.available_coupon_ {
	width: 95%;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	margin: 0 auto 5px;
}
table.available_coupon_ th ,
table.available_coupon_ td {
	padding: 1px 5px;
	border-bottom: 1px solid #CCCCCC;
	text-align:left;
	word-break: break-all;
}
table.available_coupon_ th {
	background-color: #F8F8F8;
	vertical-align: middle;
	width: 40%;
	font-weight: normal;
}
table.available_coupon_ freespace_ {
	word-break: break-all;
}

.select_coupon_area_ {
	text-align: center;
	margin: 0 auto 10px;
}
.select_coupon_ {
	width: 95%;
}

#available_coupon .navipage_ a[href=''] {
	display: none;
}

#available_coupon .close_button_ {
	text-align: right;
}

#available_coupon .close_button_ img {
	width: 45px;
	height: 45px;
	color: #000;
}

/* --------------------------------------------------------------------
	注文画面　モーダル風ウィンドウ
-------------------------------------------------------------------- */
.order_modal_ {
	display: none;
	width: 94%;
	margin: 2% 2% 2% 4%;
	border: 2px solid #fff;
	position: fixed;
	background-color: #ffffff;
	bottom: -568px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: rgba(107, 107, 107, 0.65098) 0px 0px 6px 3px;
	-webkit-box-shadow: rgba(107, 107, 107, 0.65098) 0px 0px 6px 3px;
	-moz-box-shadow: rgba(107, 107, 107, 0.65098) 0px 0px 6px 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 300px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 1000;
}
.order_modal_inner {
	width: 100%;
	padding: 5% 6%;
	border: 2px solid #3fbf0d;
	background-color: #f6fff3;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.order_modal_inner:before {
    content: ' ';
	display: block;
	background:  url(../img/sys/icon_order_modal_info.png) no-repeat;
	background-size: 39px 40px;
	width: 39px;
	height: 40px;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 1;
}
.order_modal_ h3 {
	font-size: 16px;
	font-weight: bold;
	width: 90%;
	margin-bottom: 3%;
}
.order_modal_ p {
	margin-bottom: 5%;
	font-size: 13px;
}
.order_modal_ .close {
	background: #ffffff url(../img/sys/button/order_modal_close_sb.png) no-repeat;
	background-size: 30px;
	position: absolute;
	display: block;
	top: 4%;
	right: 2%;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}
.order_modal_btn {
	text-align:center;
}
.order_modal_btn li{
	margin-bottom: 3%;
	display: block;
	padding-bottom: 6px;
}
